appnope==0.1.0
atari-py==0.1.1
attrs==17.2.0
autobahn==17.6.2
Automat==0.6.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
certifi==2022.12.7
chardet==3.0.4
constantly==15.1.0
decorator==4.0.11
docker-py==1.10.3
docker-pycreds==0.2.1
enum34==1.1.6
fastzbarlight==0.0.14
go-vncdriver==0.4.19
gym==0.7.4
hyperlink==17.2.1
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
jupyter-client==5.1.0
jupyter-core==4.3.0
numpy==1.13.0
olefile==0.44
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==6.2.0
prompt-toolkit==1.0.14
ptyprocess==0.5.2
pyglet==1.2.4
Pygments==2.2.0
python-dateutil==2.6.0
PyYAML==5.1
pyzmq==16.0.2
requests==2.20.0
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.5.1
traitlets==4.3.2
Twisted==19.7.0
txaio==2.8.0
ujson==1.35
universe==0.21.3
urllib3==1.21.1
wcwidth==0.1.7
websocket-client==0.44.0
zope.interface==4.4.2
